

.parent-box{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90vw;
    justify-content: start ;
    height: 240px;
    margin-left: 3%;
    margin-top: 10px;
}

.box{

    width: 300px;
    height: 220px;
    border: 1px solid #B2B4B4;
    border-radius: 4px ;
    margin-left: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 13, 26, 0.08); ;


}


.box-inside{

    display: flex;
    flex-direction: column; 
    width: 100%;
    margin-left: 0%;
    padding: 0px;
    


}
.box-inside-expense{

    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    gap: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
  


}
.box-expense-parent{

    width: 80%;
    margin-left: 8%;
}
.box-expense{

    width: 35%;
    height: 190px;
    border: 2px dotted grey;
    border-radius: 4px ;
    display: flex;
    flex-direction: column;  
    margin-left: 20px;


}
.title{
    text-align: start;
    font-size: medium;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;



}


.container-input{

    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-bottom: 4px;
    margin-top: 0px;
    /* margin-bottom: 10px;
    width: 60%;
    margin-left: 12%; */
    /* align-items: start; */
   
}



.btn-create{

    background-color: #38b6ff;
    border-radius: 5px;
    border-color: #38b6ff;
    border-width: 1px;
    border-style: solid;  
    margin-top: 5px;  
    width: 100px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
 
   /* position: relative;  */
 

}

.btn-create:hover{

    background-color: #0047BA;
    border-color:  #0047BA;
}

.btn-Add{

    background-color: #38b6ff;
    border-radius: 3px;
    border-color: #38b6ff;
    border-width: 2px;
    border-style: solid;    
    width: 90px;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   margin-top: 8px;
   /* position: relative;  */
 

}

.existingBudgets{

    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    /* flex-wrap: wrap; */
    /* overflow-x: auto; */
 
    height: 180px;
    width: 100%;
    justify-content: start;
    /* gap: 10px; */
 
    /* margin-left: 4%; */



}

.budget-box{


     display: flex;
     flex-direction: column;  
     justify-content: center;
     align-items: center;
     height: 150px;
     width: 340px;
     min-width: 300px;
     border-color: #B2B4B4;
     border-radius: 4px;
    border-width: 1px;
    border-style: solid;    
    margin-left: 10px;
    

}
.budget-box:hover{

   /* background-color: #0047BA;
   cursor: pointer; */

}


.table-parent{

    border: #B2B4B4 solid 2px;
    width: 500px;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;   
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;


}

.btn-viewDetails{

    border: #19A7CE solid 4px;
    border-radius: 4px;
    background-color: #19A7CE;
    color: white;
    
}

.btn-viewDetails:hover{

    background-color: #0047BA;
    border: #0047BA solid 4px;
    border-radius: 4px;



}